<form id="form">
	<label for='title'>Nombre</label>
	<input type='text' name='title' id='title' />
	<label for='price'>Price</label>
	<input type='number' name='price' id='price' />
	<label for='price'>Imagen</label>
	<input type='text' name='img' id='img' />
	<input type='submit' value='submit' />
</form>
<div >
	{{#if productos}}
        <table id="table">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
            {{#each productos}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        <img src={{this.img}} style="width: 50px;"></img>
                    </td>
                </tr>
            {{/each}}
        </table>
	{{else}}
		<span>No hay productos</span>
	{{/if}}
</div>